PORT=3001
RIOT_API_KEY=
ADMIN_TOKEN=
LADDER_CACHE_TTL_MS=120000
MATCH_SYNC_TTL_MS=120000
RATE_LIMIT_FALLBACK_MS=60000
FRIENDS_PER_REFRESH=2
MAX_NEW_MATCH_DETAILS_PER_REFRESH=1
FULL_REFRESH_EVERY_CYCLE=true
ACCOUNT_REFRESH_TTL_MS=86400000
SUMMONER_REFRESH_TTL_MS=21600000
ACTIVE_GAME_STATUS_TTL_MS=30000
LP_STEP_ANOMALY_WINDOW_MS=1800000
LP_STEP_ANOMALY_THRESHOLD=350
MAX_VISIT_METRICS_EVENTS=3000
